.App {
  background-color: rgb(241, 240, 240);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-1 {
  margin: 0;
  padding: 30px 100px;
}

.container-2 {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
